* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    height: 100%;
}

.wrapper {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 186px 0 115px;
}

a {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 3.1px;
    text-align: left;
    color: #54a506;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 10;
}

.header > .container {
    width: 1280px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, nav, li {
    display: inline-block;
}

.logo {
    min-width: 312px;
}

.slogan {
    margin: 27px 23px;
}

ul {
    list-style-type: none;
}

.menu_item {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    margin: 21px;
}

.menu_item:hover {
    color:#54a506;
}

.active {
    color: #54a506;
}
.pages {
    padding: 20px 0;
}
.pages .menu_item {
    position: relative;
}
.pages:hover .all_pages{
    display: block;
}

.fa-chevron-down {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 14px;
    height: 5px;
    color: rgba(0, 0, 0, 0.68);
}

.all_pages {
    display: none;
    background: #f2f2f2;
    text-align: center;
    padding: 30px 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: -51px;
}
.all_pages li  {
    display: block;

    padding: 11px 0;
}
.all_pages li a {
    color: #000000;
    text-transform: uppercase;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 600;

}
.all_pages li a:hover {
    cursor: pointer;
    color: #54a506;
}
.menu_item:last-of-type {
    margin-right: 0;
}

/* Middle
-----------------------------------------------------------------------------*/
.container {
    padding: 0 107px;
}

/*banner----------------------------------------------------------------------*/
.banner {
    height: 550px;
    padding-top: 50px;
    object-fit: contain;
    background: url("img/mask-copy-2.png");
    position: relative;
}

.banner_info {
    max-width: 600px;
    margin-top: 50px;
    font-family: 'Lato-Regular', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
    color: #000000;
}

.banner_btn_left, .banner_btn_right {
    width: 60px;
    height: 60px;
    padding: 0 20px;
    position: absolute;
    top: 245px;
    background-color: #54a506;
}

.banner_btn_left:hover, .banner_btn_right:hover {
    background-color: #8b8b8b;
    cursor: pointer;
}

.banner_btn_left {
    left: 0;
}

.banner_btn_right {
    right: 0;
}

.banner_btn_left > a, .banner_btn_right > a {
    font-size: 36px;
    line-height: 60px;
    color: #fff;
}

/*advantages-------------------------------------------------------------------*/

.advantages > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 107px;
}

.advantage {
    width: 260px;
    height: 270px;
    background: #8b8b8b;
    margin: 44px 0;
    padding: 20px 15px;
    text-align: center;
}
/*======================================================================================*/
.advantage:hover {
    background-color: #5e8656;
    cursor: pointer;
}

.advantage:hover > .advantage_hover {
    height: 166px;
    overflow: hidden;
    display: block;
}
.advantage:hover > img {
    display: none;
}
.advantage_hover {
    display: none;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.06;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-family: Lato, Helvetica, sans-serif;
}





    /*======================================================================================*/

.advantage > img {
    height: 160px;
    width: 160px;
}

.advantage_title {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 21px;
    line-height: 25px;
}
.advantage:hover >.advantage_title{
    margin-bottom: 10px;
}

/*getting---------------------------------------------------------------------*/
.getting {
    height: 550px;
    padding-top: 50px;
    object-fit: contain;
    background: url("img/photo-2.png");
    background-size: cover;
}

.short_info {
    max-width: 542px;
    max-height: 157px;
    margin-top: 50px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
    color: #000000;
    overflow: hidden;
}

.more_info {
    display: none;
}

.read_more {
    margin-top: 60px;
}

.read_btn, .contacts_info input[type="reset"], .contacts_info input[type="SUBMIT"] {
    padding: 27px 24px 28px;
    background-color: #54a506;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 33px;
}

.read_btn:hover, .contacts_info input[type="reset"]:hover, .contacts_info input[type="SUBMIT"]:hover {
    background-color: #8b8b8b;
    cursor: pointer;
}

/*contacts--------------------------------------------------------------------*/
.contacts {
    height: 550px;
    background-color: #d8d8d8;
    padding: 24px 0;
}

.contacts .container {
    display: flex;
    justify-content: space-between;
}

.contacts_title {
    margin-top: 6px;
    margin-bottom: 30px;
}

.contacts_info p {
    margin-left: 2px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: left;
    color: #54a506;
}

.contacts_info input[type="text"], .contacts_info input[type="email"], textarea {
    width: 530px;
    padding: 11px 0;
    border: none;
    border-bottom: 3px solid #54a506;
    background: transparent;
    margin-bottom: 16px;
}

textarea {
    height: 75px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.47;
    text-align: left;
    color: #000000;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #54a506;
}

.contacts_map {
    background: url("img/map.png");
}

.map_info {
    background: rgba(80, 80, 80, 0.8);;
    padding: 18px 72px 18px 54px;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}

.map_info > div {
    text-transform: uppercase;
}

.city, .tel {
    margin-bottom: 16px;
}

/*team------------------------------------------------------------------------*/
.team {
    background-color: #f2f2f2;
    padding-bottom: 45px;
    position: relative;
}

.team_title {
    text-align: center;
    padding: 50px 0;
}

.main_members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.member {
    text-align: center;
    background: #fff;
}

.member_name {
    opacity: 0.68;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
    margin: 16px 0 8px;
}

.member_position {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.47;
    color: #54a506;
    margin-bottom: 16px;
}

.up_btn {
    width: 52px;
    height: 52px;
    line-height: 52px;
    font-size: 52px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    border-radius: 50%;
    opacity: 0.65;
    background-color: #54a506;
}

.up_btn a {
    display: flex;
    justify-content: center;
}

.up_btn a i {
    font-size: 50px;
    line-height: 40px;
}


.up_btn:hover {
    background-color: #8b8b8b;
}

.fa-caret-up {
    color: #fff;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -115px auto 0;
    min-width: 320px;
    max-width: 1280px;
    height: 115px;
    background-color: #54a506;
    position: relative;
}

.footer .container {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo {
    min-width: 176px;
}

.slogan_footer {
    margin: 5px 8px;
}

.logo > a {
    display: inline-block;
}

.social_btns_item {
    color: #fff;
    margin-left: 48px;
}

.social_btns .fa-facebook:hover {
    color: #3B5998;
}
.social_btns .fa-facebook {
    font-size: 31px;
}

.social_btns .fa-twitter {
    font-size: 26px;
}
.social_btns .fa-twitter:hover {
    color: #1DA1F2;
}
.social_btns .fa-google-plus {
    font-size: 22px;
}

.social_btns .fa-google-plus:hover {
    color: #EA4335;
}

@media screen and (max-width: 1280px) {
    .header > .container {
        width: 100%;
    }
}
@media screen and (max-width: 1237px) {
    .container {
        padding: 0 10px;
    }
    .banner .container {
        padding: 0 107px;
    }
    .inner_header {
        flex-direction: column;
        align-items: flex-start;
    }
    .inner_header>div:first-child {
        height: 95px;
    }
    .menu_item:first-of-type {
        margin-left: 0;
        margin-right: 21px;
    }

}
@media screen and (max-width: 1040px) {
    .header > .container {
        padding: 10px;
    }
    .advantages > .container {
        padding: 0 10px;
    }
    .advantage {
        width: 230px;
        height: 295px;
    }
    .contacts_info input[type="text"], .contacts_info input[type="email"], textarea {
        width: 100%;
    }
    .contacts_info input[type="SUBMIT"] {
        margin-right: 0;
    }
    .contacts_map {
        width: 45%;
    }
    .map_info {
        padding: 18px;
        font-size: 22px;
        line-height: 30px;
    }
    .member {
        width: 19%;
    }
    .member img {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }
    .menu_item {
        font-size: 18px;
    }
    .gallery, .menu_contacts, .search, .user {
        margin: 20px 0;
    }
    .wrapper {
        padding: 175px 0 115px;
    }
    .advantages > .container {
        padding: 0 10px;
        justify-content: space-around;
    }
    .advantage {
        width: 45%;
        height: auto;
        margin: 22px 0;
        padding: 20px 5px;
    }
    .advantage > img {
        height: auto;
        width: 60%;
    }
    .advantage_title {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 1;
    }

    .short_info {
        width: 90%;
    }
    .contacts {
        height: auto;
    }
    .contacts .container {
        align-items: center;
        flex-direction: column;
    }
    .contacts_info {
        margin-bottom: 20px;
    }
    .contacts_map {
        width: auto;
        height: 502px;
    }
    .main_members {
        justify-content: space-around;
    }
    .member {
        width: 40%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 681px) {
    .wrapper {
        padding: 225px 0 115px;
    }
}
@media screen and (max-width: 611px) {
    .header {
        position: inherit;
    }
    .wrapper {
        padding-top: 0;
    }
    .banner {
        display: none;
    }
    .container {
        padding: 0 10px;
    }
}
@media screen and (max-width: 465px) {
    h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 425px) {
    .short_info {
        max-height: 170px;
    }
    .contacts_info input[type="reset"] {
        margin-right: 15px;
    }
    .getting {
        height: 510px;
    }
}



@media screen and (max-width: 417px) {
    .short_info {
        max-height: 145px;
        margin-top: 20px;
    }
    .getting {
        height: 475px;
        padding-top: 20px;
    }
    .read_btn, .contacts_info input[type="reset"], .contacts_info input[type="SUBMIT"] {
        display: block;
        width: 100%;
        margin: 0 auto 20px;
    }
    .read_more {
        margin-top: 30px;
    }
    .contacts_info {
         margin-bottom: 0;
    }

    .contacts_map {
        width: 100%;
    }
    .map_info {
        font-size: 16px;
    }
    .main_members {
        flex-direction: column;
        align-items: center;
    }
    .member {
        width: 90%;
    }

    .social_btns_item:first-of-type {
        margin-left: 0;
    }
    .social_btns_item {
        margin-left: 20px;
    }
}
@media screen and (max-width: 375px) {
    .getting {
        height: 410px;
    }
}